<p style="color: green"><%= notice %></p>

<h3 class = "text-center">Quản Lý Cho Học Sinh Mượn Sách - Nguyễn Công Thuận - 1911505310265</h3>
</br>

<div id="book_managements">
  <table class="table table-striped">
    <thead>
      <tr style="background: grey; ">
        <th scope="col">STT</th>
        <th scope="col">Mã học sinh</th>
        <th scope="col">Họ và tên</th>
        <th scope="col">Lớp</th>
        <th scope="col">Mã sách</th>
        <th scope="col">Tên sách</th>
        <th scope="col">Tên tác giả</th>
        <th scope="col">Tủ sách</th>
        <th scope="col">Số BM</th>
        <th scope="col">Ngày mượn</th>
        <th scope="col">Ngày trả</th>
        <th scope="col">Số ngày</th>
        <th scope="col">Ghi chú</th>
         <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <% @book_managements.each do |book_management| %>
        <tr>
        <th scope="row">1</th>
        <td><%= book_management.student_id_265 %></td>
        <td><%= book_management.full_name_265 %></td>
        <td><%= book_management.class_265 %></td>
        <td><%= book_management.book_id_265 %></td>
        <td><%= book_management.book_name_265 %>
        <td><%= book_management.book_author_265 %></td>
        <td><%= book_management.book_category_265 %></td>

        <td><%= book_management.bm_number_265 %></td>
        <td><%= book_management.borrow_date_265 %></td>
        <td><%= book_management.back_date_265 %></td>
        <td><%= book_management.number_date_265 %></td>
        <td></td>
        <td>
          <%= link_to "Chi tiết", book_management %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Thêm mới quản lý sách mượn", new_book_management_path, class: "btn btn-primary" %>
